/* Icon Sizes */
.icon-sm,
.icon-md,
.icon-lg,
.icon-xl {
	line-height: 1;
}

.icon-md {
	@include size(32px);
	font-size: 32px;
}

.icon-lg {
	@include size(64px);
	font-size: 64px;
}

.icon-xl {
	@include size(128px);
	font-size: 128px;
}

/* Icon List */
.icon-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    list-style: none;
  }

	li + li {
		margin-left: 15px;
	}

	a {
    border: none;
		display: inline-block;
    color: #fff;
	}
}
