---
title: "Hayden Gascoigne | Web Creator"
---

<div id="homepage-hero" class="section full gradient">
	<div class="row center-xs middle-xs fit">
	    <div class="col-md-6">
	        <div class="box">
	            <h1 class="hero parallax" data-parallaxify-range="100">
	            	Hello.
	            	<span class="subhead">I am Hayden Gascoigne. I <a href="http://collectivelymade.com">build things</a> for the web.</span>
	            </h1>
              <div class="connect icon-list">
                <a class="list-item" href="//github.com/hgascoigne"><i class="fa fa-github icon-md"></i></a>
                <a class="list-item" href="//linkedin.com/in/gascoigne"><i class="fa fa-linkedin icon-md"></i></a>
                <a class="list-item" href="https://500px.com/hgascoigne"><i class="fa fa-500px icon-md"></i></a>
                <a class="list-item" href="mailto:haydengascoigne@gmail.com"><i class="fa fa-envelope icon-md"></i></a>
                <a class="list-item" href="https://represent.io/hayden"><i class="fa fa-file icon-md"></i></a>
              </div>
	        </div>
	    </div>
	</div>
	<!-- <div class="row center-xs anchor bottom">
	    <div class="col-md-6">
	        <div class="box">
	            <span><i class="ion-ios-arrow-down icon-lg"></i></span>
	        </div>
	    </div>
	</div> -->
</div>
